# Ignore Database Files
*.db
*.sqlite
*.duckdb

# Ignore Raw Data Files
*.csv
*.xlsx

# Allow Alternative Data to be pushed to deployment
!Data/Alternative_Data/*.db
!Data/Alternative_Data/*.csv

# Ignore Python Environment Files
venv/
.venv/
__pycache__/
catboost_info/
*.log
.pytest_cache/
scratch/